force-app/main/default/flows/TEMPLATE_EmailMessage_Create_Task_on_Send_from_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <description>Determines outcome based on which Case Reason has been chosen for the Case this EmailMessage was sent from.</description>
        <name>What_is_the_Case_Reason</name>
        <label>What is the Case Reason?</label>
        <locationX>2426</locationX>
        <locationY>421</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Childcare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Childcare</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Childcare</targetReference>
            </connector>
            <label>Childcare</label>
        </rules>
        <rules>
            <name>Deployment_FRG</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Deployment/FRG</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Deployment_FRG</targetReference>
            </connector>
            <label>Deployment/FRG</label>
        </rules>
        <rules>
            <name>Education</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Education</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Education</targetReference>
            </connector>
            <label>Education</label>
        </rules>
        <rules>
            <name>Emergency_Crisis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Emergency/Crisis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Emergency_Crisis</targetReference>
            </connector>
            <label>Emergency/Crisis</label>
        </rules>
        <rules>
            <name>Employment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Employment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Employment</targetReference>
            </connector>
            <label>Employment</label>
        </rules>
        <rules>
            <name>EFMP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>EFMP</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_EFMP</targetReference>
            </connector>
            <label>EFMP</label>
        </rules>
        <rules>
            <name>Financial_Pay</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial/Pay</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Financial_Pay</targetReference>
            </connector>
            <label>Financial/Pay</label>
        </rules>
        <rules>
            <name>Individual_Augmentee</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Individual Augmentee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Individual_Augmentee</targetReference>
            </connector>
            <label>Individual Augmentee</label>
        </rules>
        <rules>
            <name>Legal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Legal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Legal</targetReference>
            </connector>
            <label>Legal</label>
        </rules>
        <rules>
            <name>Medical</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Medical</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Medical</targetReference>
            </connector>
            <label>Medical</label>
        </rules>
        <rules>
            <name>Military_Records</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Military Records</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Military_Records</targetReference>
            </connector>
            <label>Military Records</label>
        </rules>
        <rules>
            <name>MWR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MWR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_MWR</targetReference>
            </connector>
            <label>MWR</label>
        </rules>
        <rules>
            <name>Newsletter</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Newsletter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Newsletter</targetReference>
            </connector>
            <label>Newsletter</label>
        </rules>
        <rules>
            <name>Relocation_Housing_Sponsor</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Relocation/Housing/Sponsor</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Relocation_Housing_Sponsor</targetReference>
            </connector>
            <label>Relocation/Housing/Sponsor</label>
        </rules>
        <rules>
            <name>Sexual_Assault_Prevention</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sexual Assault Prevention</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Sexual_Assault_Prevention</targetReference>
            </connector>
            <label>Sexual Assault Prevention</label>
        </rules>
        <rules>
            <name>Social_Media</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Social Media</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Social_Media</targetReference>
            </connector>
            <label>Social Media</label>
        </rules>
        <rules>
            <name>Other_Info_Referral</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case.Reason</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other Info &amp; Referral</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OutTouch_Other_Info_Referral</targetReference>
            </connector>
            <label>Other Info &amp; Referral</label>
        </rules>
    </decisions>
    <description>TEMPLATE ONLY DO NOT ACTIVATE. Clone your own new flow and activate that. Activating this flow installed by the managed package can result in problems when package updates are published.</description>
    <interviewLabel>TEMPLATE EmailMessage_Create Task on Send from Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>TEMPLATE EmailMessage_Create Task on Send from Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Childcare</name>
        <label>OutTouch - Childcare</label>
        <locationX>50</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Childcare_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Deployment_FRG</name>
        <label>OutTouch - Deployment/FRG</label>
        <locationX>314</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Deployment_FRG_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Education</name>
        <label>OutTouch - Education</label>
        <locationX>578</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Education_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_EFMP</name>
        <label>OutTouch - EFMP</label>
        <locationX>1370</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EFMP_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Emergency_Crisis</name>
        <label>OutTouch - Emergency/Crisis</label>
        <locationX>842</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emergency_Crisis_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Employment</name>
        <label>OutTouch - Employment</label>
        <locationX>1106</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Employment_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Financial_Pay</name>
        <label>OutTouch - Financial/Pay</label>
        <locationX>1634</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Financial_Pay_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Individual_Augmentee</name>
        <label>OutTouch - Individual Augmentee</label>
        <locationX>1898</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Individual_Augmentee_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Legal</name>
        <label>OutTouch - Legal</label>
        <locationX>2162</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Legal_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Medical</name>
        <label>OutTouch - Medical</label>
        <locationX>2426</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Medical_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Military_Records</name>
        <label>OutTouch - Military Records</label>
        <locationX>2690</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Military_Records_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_MWR</name>
        <label>OutTouch - MWR</label>
        <locationX>2954</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MWR_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Newsletter</name>
        <label>OutTouch - Newsletter</label>
        <locationX>3218</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Newsletter_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Other_Info_Referral</name>
        <label>OutTouch - Other Info &amp; Referral</label>
        <locationX>4538</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Other_Info_Referral_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Relocation_Housing_Sponsor</name>
        <label>OutTouch - Relocation/Housing/Sponsor</label>
        <locationX>3746</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Relocation_Housing_Sponsor_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Sexual_Assault_Prevention</name>
        <label>OutTouch - Sexual Assault Prevention</label>
        <locationX>4010</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SAPR_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Creates a Task record to record outgoing touchpoints for the Ombudsman Registry.</description>
        <name>OutTouch_Social_Media</name>
        <label>OutTouch - Social Media</label>
        <locationX>4274</locationX>
        <locationY>541</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Social_Media_Outgoing__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Get_Related_Case.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Looks up the Case this email message was sent from.</description>
        <name>Get_Related_Case</name>
        <label>Get Related Case</label>
        <locationX>2426</locationX>
        <locationY>301</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Case_Reason</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RelatedToId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>2300</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Related_Case</targetReference>
        </connector>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <filters>
            <field>RelatedToId</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>500</stringValue>
            </value>
        </filters>
        <object>EmailMessage</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
